<!DOCTYPE html>
<html>
     <head>
        <meta name="referrer" content="origin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        

        <link href="/LogoFiberNews.png" rel="shortcut icon" type="image/png" />
        <title>Fiber News</title>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
